<div class="wrapper">
  <!--<div *ngFor=" let pr of Products; let i=index">
    <mat-card class="item">
      <mat-card-content>
        <div class="doc-title">Покупка {{pr.Name}}</div>
        <div class="doc-title">Колличество {{pr.Count}}</div>
        <button mat-raised-button color="warn" (click)="RemoveProduct(i)">
          Удалить
        </button>


      </mat-card-content>
    </mat-card>
  </div>-->
</div>
<button mat-raised-button color="warn" (click)="getTestData()">
  teeeeeeeeeeest
</button>
